.gridLayoutContainer {
    width: 96%;
    margin: auto;

    .btn-container {
        min-width: 138px;
        margin-bottom: 2px;
        padding: 0px 5px;
    }

    .ext-right-container {
        display: flex;
        justify-content: flex-end;
    }

    .search-txtbox-container .input-group {
        min-width: 270px;
    }

    .gridLayoutInnerContainer {
        width: 100%;
        height: 82vh;
    }
}

.ag-row-even {
    background: #fcfcfc !important;
}

.ag-row-odd {
    background: #fff !important;
}

.ex-right {
    display: flex;
    flex-direction: row-reverse;
}

.ext-right {
    margin-left: auto;
}

.btn-action{
    background-color:#1e90ff;
    border-color: #1e90ff;
}

.rag-element{
    border:1px solid red;
    background:green;
}

.ag-header-viewport {
    border-bottom: 4px solid #fbce07;
}

.ag-theme-alpine .ag-header{
    border-bottom:none;
}

.shell-btn {
    background: #fbce07;
    border: #fbce07;
    color: black;

    .fa-archive {
        color: orangered;
    }

    .fa-save {
        color: forestgreen;
    }

    
}
